body {
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2B2B2B;
}
h1 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 15px;
    letter-spacing: 0.2px;
}
h2 {
    font-size: 24px;
}
h1, h2 {
    font-weight: bold;
}
p {
    line-height: 21px;
}
a, a:hover {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.col-lg-4,
.col-lg-8 {
    height: 100%;
    height: 100vh;
    min-height: 400px;
}
.block-title {
    width: 170px;
    position: absolute;
    top: 50%;
    margin-left: 115px;
    margin-top: -187.5px;
}
.block-title p {
    font-size: 12px;
    line-height: 17px;
}
.logo {
    margin-bottom: 44px;
}
.logo img {
    width: 98px;
}
.phones {
    margin-bottom: 30px;
}
.phones a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #2B2B2B;
    margin-bottom: 9px;
}
.phones a:hover {
    text-decoration: none;
}
.phones a span {
    border-bottom: 2px solid rgba(221, 60, 57, 1.0);
}
.phones a:hover span {
    color: rgba(221, 60, 57, 0.7);	
    border-bottom: 2px solid rgba(221, 60, 57, 0.7);
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.social a {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #2B2B2B;
}
.social a:hover {
    color: rgba(221, 60, 57, 0.7);
}
.social a:first-child {
    margin-right: 13px;
}
.social a:last-child {
    margin-left: 7px;
}
.scene {
    position: relative;
    width: 100%;
    height:100vh;
    min-height: 400px;
    perspective: 600px;
    overflow: hidden;
}
.animation-icon {
    position: absolute;
    top: 50%;
    margin-top: -272px;
    width: 100%;
    height: 544px;
    z-index: 1;
}
.card {
    width: 45.5%;
    height: 100%;
    margin-right: -23.75%;
    /*margin: 0 155px 0 auto;*/
    transition: transform .8s;
    transform-style: preserve-3d;
    position: absolute;
    right: 50%;	
    background: none;
    border: none;
    z-index: 2;
}
.card.scale {
    -webkit-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
}
.card.is-flipped {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card p {
    font-size: 11px;
    line-height: 17px;
    padding-right: 10px;
}
.card_face {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -170px;
    width: 100%;
    padding: 36px 26px 23px 24px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.097);
    -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.097);
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.097);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background-color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card_face-back {
    -webkit-transform: rotateY(180deg);
	-ms-transform:  rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.form-group {
    margin-bottom: 12px;
}
.form button {
    background-color: rgba(221, 60, 57, 1.0);
    border-color: rgba(221, 60, 57, 1.0);
    font-size: 12px;
    height: 38px;
}
.form button:hover {
    background-color: rgba(221, 60, 57, 0.7);
    border-color: rgba(221, 60, 57, 0.7);
}
.form input {
    background-color: rgba(224, 224, 224, 0.32);
    font-size: 12px;
    border: none;
    height: 38px;
    padding: 8px 12px;
}
.form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B7B7B7;
    opacity: 1; /* Firefox */
}
.form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B7B7B7;
}
.form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #B7B7B7;
}
.form-login .form-group-btn {
    margin-top: 3px;
    margin-bottom: 25px;
}
.form-forgot .form-group-btn {
    margin-top: 16px;
}
.form-group-btn a {
    color: rgba(221, 60, 57, 1.0);
    font-size: 12px;
}
.form-group-btn a:hover {
    color: rgba(221, 60, 57, 0.7);
    text-decoration: none;
}
.icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
}
.icon-1 {
    background-image: url(../images/1.png);
    width: 66px;
    height: 66px;
    top: 436px;
    right: 97px; 
}
.icon-2 {
    background-image: url(../images/2.png);
    width: 46px;
    height: 46px;
    top: 0;
    right: 286px;
}
.icon-3 {
    background-image: url(../images/3.png);
    width: 66px;
    height: 66px;
    top: 431px;
    right: 427px;
}
.icon-4 {
    background-image: url(../images/4.png);
    width: 48px;
    height: 48px;
    top: 3px;
    right: 164px;
}
.icon-5 {
    background-image: url(../images/5.png);
    width: 46px;
    height: 46px;
    top: 381px;
    right: 469px;
}
.icon-6 {
    background-image: url(../images/6.png);
    width: 55px;
    height: 55px;
    top: 39px;
    right: 386px; 
}
.icon-7 {
    background-image: url(../images/7.png);
    width: 46px;
    height: 42px;
    top: 389px;
    right: 78px;
}
.icon-8 {
    background-image: url(../images/8.png);
    width: 51px;
    height: 51px;
    top: 320px;
    right: 444px;
}
.icon-9 {
    background-image: url(../images/9.png);
    width: 54px;
    height: 54px;
    top: 279px;
    right: 492px;
}
.icon-11 {
    background-image: url(../images/11.png);
    width: 50px;
    height: 46px;
    top: 325px;
    right: 89px;  
}
.icon-12 {
    background-image: url(../images/12.png);
    width: 40px;
    height: 38px;
    top: 54px;
    right: 329px;
}
.icon-13 {
    background-image: url(../images/13.png);
    width: 50px;
    height: 50px;
    top: 482px;
    right: 380px;
}
.icon-14 {
    background-image: url(../images/14.png);
    width: 43px;
    height: 48px;
    top: 47px;
    right: 189px;
}
.icon-15 {
    background-image: url(../images/15.png);
    width: 43px;
    height: 48px;
    top: 277px;
    right: 79px;
}
.icon-16 {
    background-image: url(../images/16.png);
    width: 38px;
    height: 38px;
    top: 62px;
    right: 263px;
}
.icon-17 {
    background-image: url(../images/17.png);
    width: 44px;
    height: 44px;
    top: 458px;
    right: 167px;
}
.icon-18 {
    background-image: url(../images/18.png);
    width: 43px;
    height: 43px;
    top: 183px;
    right: 438px;
}
.icon-19 {
    background-image: url(../images/19.png);
    width: 46px;
    height: 46px;
    top: 177px;
    right: 76px;
}
.icon-21 {
    background-image: url(../images/21.png);
    width: 44px;
    height: 44px;
    top: 129px;
    right: 469px;
}
.icon-22 {
    background-image: url(../images/22.png);
    width: 65px;
    height: 65px;
    top: 119px;
    right: 98px;
}
.icon-23 {
    background-image: url(../images/23.png);
    width: 52px;
    height: 52px;
    top: 469px;
    right: 263px;
}
.icon-24 {
    background-image: url(../images/24.png);
    width: 43px;
    height: 43px;
    top: 240px;
    right: 460px;
}
.icon-25 {
    background-image: url(../images/25.png);
    width: 68px;
    height: 68px;
    top: 476px;
    right: 197px;
}
.icon-26 {
    background-image: url(../images/26.png);
    width: 43px;
    height: 48px;
    top: 459px;
    right: 330px;
}
.icon-27 {
    background-image: url(../images/27.png);
    width: 42px;
    height: 42px;
    top: 63px;
    right: 110px;
}
.icon-28 {
    background-image: url(../images/28.png);
    width: 53px;
    height: 53px;
    top: 226px;
    right: 97px;
}
.icon-29 {
    background-image: url(../images/29.png);
    width: 45px;
    height: 45px;
    top: 71px;
    right: 437px;
}
.icon-1.move {
    -webkit-animation: run-1 2s infinite ease-in-out;
    animation: run-1 2s infinite ease-in-out;
}
.icon-2.move {
    -webkit-animation: run-2 2s infinite ease-in-out;
    animation: run-2 2s infinite ease-in-out;
}
.icon-3.move {
    -webkit-animation: run-3 2s infinite ease-in-out;
    animation: run-3 2s infinite ease-in-out;
}
.icon-4.move {
    -webkit-animation: run-4 2s infinite ease-in-out;
    animation: run-4 2s infinite ease-in-out;
}
.icon-5.move {
    -webkit-animation: run-5 2s infinite ease-in-out;
    animation: run-5 2s infinite ease-in-out;
}
.icon-6.move {
    -webkit-animation: run-6 2s infinite ease-in-out;
    animation: run-6 2s infinite ease-in-out;
}
.icon-7.move {
    -webkit-animation: run-1 2s infinite ease-in-out;
    animation: run-1 2s infinite ease-in-out;
}
.icon-8.move {
    -webkit-animation: run-8 2s infinite ease-in-out;
    animation: run-8 2s infinite ease-in-out;
}
.icon-9.move {
    -webkit-animation: run-8 2s infinite ease-in-out;
    animation: run-8 2s infinite ease-in-out;
}
.icon-11.move {
    -webkit-animation: run-15 2s infinite ease-in-out;
    animation: run-15 2s infinite ease-in-out;
}
.icon-12.move {
    -webkit-animation: run-6 2s infinite ease-in-out;
    animation: run-6 2s infinite ease-in-out;
}
.icon-13.move {
    -webkit-animation: run-3 2s infinite ease-in-out;
    animation: run-3 2s infinite ease-in-out;
}
.icon-14.move {
    -webkit-animation: run-4 2s infinite ease-in-out;
    animation: run-4 2s infinite ease-in-out;
}
.icon-15.move {
    -webkit-animation: run-15 2s infinite ease-in-out;
    animation: run-15 2s infinite ease-in-out;
}
.icon-16.move {
    -webkit-animation: run-2 2s infinite ease-in-out;
    animation: run-2 2s infinite ease-in-out;
}
.icon-17.move {
    -webkit-animation: run-1 2s infinite ease-in-out;
    animation: run-1 2s infinite ease-in-out;
}
.icon-18.move {
    -webkit-animation: run-8 2s infinite ease-in-out;
    animation: run-8 2s infinite ease-in-out;
}
.icon-19.move {
    -webkit-animation: run-19 2s infinite ease-in-out;
    animation: run-19 2s infinite ease-in-out;
}
.icon-21.move {
    -webkit-animation: run-21 2s infinite ease-in-out;
    animation: run-21 2s infinite ease-in-out;
}
.icon-22.move {
   -webkit-animation: run-27 2s infinite ease-in-out;
    animation: run-27 2s infinite ease-in-out;
}
.icon-23.move {
    -webkit-animation: run-23 2s infinite ease-in-out;
    animation: run-23 2s infinite ease-in-out;
}
.icon-24.move {
    -webkit-animation: run-8 2s infinite ease-in-out;
    animation: run-8 2s infinite ease-in-out;
}
.icon-25.move {
    -webkit-animation: run-25 2s infinite ease-in-out;
    animation: run-25 2s infinite ease-in-out;
}
.icon-26.move {
    -webkit-animation: run-26 2s infinite ease-in-out;
    animation: run-26 2s infinite ease-in-out;
}
.icon-27.move {
    -webkit-animation: run-27 2s infinite ease-in-out;
    animation: run-27 2s infinite ease-in-out;
}
.icon-28.move {
    -webkit-animation: run-19 2s infinite ease-in-out;
    animation: run-19 2s infinite ease-in-out;
}
.icon-29.move {
    -webkit-animation: run-29 2s infinite ease-in-out;
    animation: run-29 2s infinite ease-in-out;
}

@-webkit-keyframes run-1 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(-300%, -150%);-o-transform: rotate(15deg) translate(-300%, -150%);-ms-transform: rotate(15deg) translate(-300%, -150%);-moz-transform: rotate(15deg) translate(-300%, -150%);-webkit-transform: rotate(15deg) translate(-300%, -150%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(-300%, -150%);-o-transform: rotate(30deg) translate(-300%, -150%);-ms-transform: rotate(30deg) translate(-300%, -150%);-moz-transform: rotate(30deg) translate(-300%, -150%);-webkit-transform: rotate(30deg) translate(-300%, -150%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(-300%, -150%);-o-transform: rotate(15deg) translate(-300%, -150%);-ms-transform: rotate(15deg) translate(-300%, -150%);-moz-transform: rotate(15deg) translate(-300%, -150%);-webkit-transform: rotate(15deg) translate(-300%, -150%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}
@keyframes run-1 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(-300%, -150%);-o-transform: rotate(15deg) translate(-300%, -150%);-ms-transform: rotate(15deg) translate(-300%, -150%);-moz-transform: rotate(15deg) translate(-300%, -150%);-webkit-transform: rotate(15deg) translate(-300%, -150%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(-300%, -150%);-o-transform: rotate(30deg) translate(-300%, -150%);-ms-transform: rotate(30deg) translate(-300%, -150%);-moz-transform: rotate(30deg) translate(-300%, -150%);-webkit-transform: rotate(30deg) translate(-300%, -150%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(-300%, -150%);-o-transform: rotate(15deg) translate(-300%, -150%);-ms-transform: rotate(15deg) translate(-300%, -150%);-moz-transform: rotate(15deg) translate(-300%, -150%);-webkit-transform: rotate(15deg) translate(-300%, -150%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-2 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}
@keyframes run-2 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(0deg) translate(0%, 250%);-o-transform: rotate(0deg) translate(0%, 250%);-ms-transform: rotate(0deg) translate(0%, 250%);-moz-transform: rotate(0deg) translate(0%, 250%);-webkit-transform: rotate(0deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-3 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(50%, -200%);-o-transform: rotate(15deg) translate(50%, -200%);-ms-transform: rotate(15deg) translate(50%, -200%);-moz-transform: rotate(15deg) translate(50%, -200%);-webkit-transform: rotate(15deg) translate(50%, -200%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(50%, -200%);-o-transform: rotate(30deg) translate(50%, -200%);-ms-transform: rotate(30deg) translate(50%, -200%);-moz-transform: rotate(30deg) translate(50%, -200%);-webkit-transform: rotate(30deg) translate(50%, -200%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(50%, -200%);-o-transform: rotate(15deg) translate(50%, -200%);-ms-transform: rotate(15deg) translate(50%, -200%);-moz-transform: rotate(15deg) translate(50%, -200%);-webkit-transform: rotate(15deg) translate(50%, -200%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-3 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(50%, -200%);-o-transform: rotate(15deg) translate(50%, -200%);-ms-transform: rotate(15deg) translate(50%, -200%);-moz-transform: rotate(15deg) translate(50%, -200%);-webkit-transform: rotate(15deg) translate(50%, -200%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(50%, -200%);-o-transform: rotate(30deg) translate(50%, -200%);-ms-transform: rotate(30deg) translate(50%, -200%);-moz-transform: rotate(30deg) translate(50%, -200%);-webkit-transform: rotate(30deg) translate(50%, -200%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(50%, -200%);-o-transform: rotate(15deg) translate(50%, -200%);-ms-transform: rotate(15deg) translate(50%, -200%);-moz-transform: rotate(15deg) translate(50%, -200%);-webkit-transform: rotate(15deg) translate(50%, -200%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-4 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(0%, 250%);
    -o-transform: rotate(15deg) translate(0%, 250%);
    -ms-transform: rotate(15deg) translate(0%, 250%);
    -moz-transform: rotate(15deg) translate(0%, 250%);
    -webkit-transform: rotate(15deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(0%, 250%);
    -o-transform: rotate(30deg) translate(0%, 250%);
    -ms-transform: rotate(30deg) translate(0%, 250%);
    -moz-transform: rotate(30deg) translate(0%, 250%);
    -webkit-transform: rotate(30deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(0%, 250%);
    -o-transform: rotate(15deg) translate(0%, 250%);
    -ms-transform: rotate(15deg) translate(0%, 250%);
    -moz-transform: rotate(15deg) translate(0%, 250%);
    -webkit-transform: rotate(15deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-4 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(0%, 250%);
    -o-transform: rotate(15deg) translate(0%, 250%);
    -ms-transform: rotate(15deg) translate(0%, 250%);
    -moz-transform: rotate(15deg) translate(0%, 250%);
    -webkit-transform: rotate(15deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(0%, 250%);
    -o-transform: rotate(30deg) translate(0%, 250%);
    -ms-transform: rotate(30deg) translate(0%, 250%);
    -moz-transform: rotate(30deg) translate(0%, 250%);
    -webkit-transform: rotate(30deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(0%, 250%);
    -o-transform: rotate(15deg) translate(0%, 250%);
    -ms-transform: rotate(15deg) translate(0%, 250%);
    -moz-transform: rotate(15deg) translate(0%, 250%);
    -webkit-transform: rotate(15deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-5 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(150%, -250%);
    -o-transform: rotate(15deg) translate(150%, -250%);
    -ms-transform: rotate(15deg) translate(150%, -250%);
    -moz-transform: rotate(15deg) translate(150%, -250%);
    -webkit-transform: rotate(15deg) translate(150%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(150%, -250%);
    -o-transform: rotate(30deg) translate(150%, -250%);
    -ms-transform: rotate(30deg) translate(150%, -250%);
    -moz-transform: rotate(30deg) translate(150%, -250%);
    -webkit-transform: rotate(30deg) translate(150%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(150%, -250%);
    -o-transform: rotate(15deg) translate(150%, -250%);
    -ms-transform: rotate(15deg) translate(150%, -250%);
    -moz-transform: rotate(15deg) translate(150%, -250%);
    -webkit-transform: rotate(15deg) translate(150%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-5 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(150%, -250%);
    -o-transform: rotate(15deg) translate(150%, -250%);
    -ms-transform: rotate(15deg) translate(150%, -250%);
    -moz-transform: rotate(15deg) translate(150%, -250%);
    -webkit-transform: rotate(15deg) translate(150%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(150%, -250%);
    -o-transform: rotate(30deg) translate(150%, -250%);
    -ms-transform: rotate(30deg) translate(150%, -250%);
    -moz-transform: rotate(30deg) translate(150%, -250%);
    -webkit-transform: rotate(30deg) translate(150%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(150%, -250%);
    -o-transform: rotate(15deg) translate(150%, -250%);
    -ms-transform: rotate(15deg) translate(150%, -250%);
    -moz-transform: rotate(15deg) translate(150%, -250%);
    -webkit-transform: rotate(15deg) translate(150%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-6 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg) translate(0%, 250%);
    -o-transform: rotate(-15deg) translate(0%, 250%);
    -ms-transform: rotate(-15deg) translate(0%, 250%);
    -moz-transform: rotate(-15deg) translate(0%, 250%);
    -webkit-transform: rotate(-15deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translate(0%, 250%);
    -o-transform: rotate(-30deg) translate(0%, 250%);
    -ms-transform: rotate(-30deg) translate(0%, 250%);
    -moz-transform: rotate(-30deg) translate(0%, 250%);
    -webkit-transform: rotate(-30deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-15deg) translate(0%, 250%);
    -o-transform: rotate(-15deg) translate(0%, 250%);
    -ms-transform: rotate(-15deg) translate(0%, 250%);
    -moz-transform: rotate(-15deg) translate(0%, 250%);
    -webkit-transform: rotate(-15deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-6 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg) translate(0%, 250%);
    -o-transform: rotate(-15deg) translate(0%, 250%);
    -ms-transform: rotate(-15deg) translate(0%, 250%);
    -moz-transform: rotate(-15deg) translate(0%, 250%);
    -webkit-transform: rotate(-15deg) translate(0%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translate(0%, 250%);
    -o-transform: rotate(-30deg) translate(0%, 250%);
    -ms-transform: rotate(-30deg) translate(0%, 250%);
    -moz-transform: rotate(-30deg) translate(0%, 250%);
    -webkit-transform: rotate(-30deg) translate(0%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-15deg) translate(0%, 250%);
    -o-transform: rotate(-15deg) translate(0%, 250%);
    -ms-transform: rotate(-15deg) translate(0%, 250%);
    -moz-transform: rotate(-15deg) translate(0%, 250%);
    -webkit-transform: rotate(-15deg) translate(0%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-8 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(200%, -150%);
    -o-transform: rotate(15deg) translate(200%, -150%);
    -ms-transform: rotate(15deg) translate(200%, -150%);
    -moz-transform: rotate(15deg) translate(200%, -150%);
    -webkit-transform: rotate(15deg) translate(200%, -150%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(200%, -150%);
    -o-transform: rotate(30deg) translate(200%, -150%);
    -ms-transform: rotate(30deg) translate(200%, -150%);
    -moz-transform: rotate(30deg) translate(200%, -150%);
    -webkit-transform: rotate(30deg) translate(200%, -150%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(200%, -150%);
    -o-transform: rotate(15deg) translate(200%, -150%);
    -ms-transform: rotate(15deg) translate(200%, -150%);
    -moz-transform: rotate(15deg) translate(200%, -150%);
    -webkit-transform: rotate(15deg) translate(200%, -150%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-8 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(200%, -150%);
    -o-transform: rotate(15deg) translate(200%, -150%);
    -ms-transform: rotate(15deg) translate(200%, -150%);
    -moz-transform: rotate(15deg) translate(200%, -150%);
    -webkit-transform: rotate(15deg) translate(200%, -150%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(200%, -150%);
    -o-transform: rotate(30deg) translate(200%, -150%);
    -ms-transform: rotate(30deg) translate(200%, -150%);
    -moz-transform: rotate(30deg) translate(200%, -150%);
    -webkit-transform: rotate(30deg) translate(200%, -150%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(200%, -150%);
    -o-transform: rotate(15deg) translate(200%, -150%);
    -ms-transform: rotate(15deg) translate(200%, -150%);
    -moz-transform: rotate(15deg) translate(200%, -150%);
    -webkit-transform: rotate(15deg) translate(200%, -150%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-15 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  75% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-15 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  75% {
    transform: rotate(-30deg) translate(-200%, 0%);
    -o-transform: rotate(-30deg) translate(-200%, 0%);
    -ms-transform: rotate(-30deg) translate(-200%, 0%);
    -moz-transform: rotate(-30deg) translate(-200%, 0%);
    -webkit-transform: rotate(-30deg) translate(-200%, 0%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-19 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  75% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-19 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  75% {
    transform: rotate(45deg) translate(-150%, 350%);
    -o-transform: rotate(45deg) translate(-150%, 350%);
    -ms-transform: rotate(45deg) translate(-150%, 350%);
    -moz-transform: rotate(45deg) translate(-150%, 350%);
    -webkit-transform: rotate(45deg) translate(-150%, 350%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-21 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(200%, -100%);
    -o-transform: rotate(15deg) translate(200%, -100%);
    -ms-transform: rotate(15deg) translate(200%, -100%);
    -moz-transform: rotate(15deg) translate(200%, -100%);
    -webkit-transform: rotate(15deg) translate(200%, -100%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(200%, -100%);
    -o-transform: rotate(30deg) translate(200%, -100%);
    -ms-transform: rotate(30deg) translate(200%, -100%);
    -moz-transform: rotate(30deg) translate(200%, -100%);
    -webkit-transform: rotate(30deg) translate(200%, -100%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(200%, -100%);
    -o-transform: rotate(15deg) translate(200%, -100%);
    -ms-transform: rotate(15deg) translate(200%, -100%);
    -moz-transform: rotate(15deg) translate(200%, -100%);
    -webkit-transform: rotate(15deg) translate(200%, -100%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-21 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(200%, -100%);
    -o-transform: rotate(15deg) translate(200%, -100%);
    -ms-transform: rotate(15deg) translate(200%, -100%);
    -moz-transform: rotate(15deg) translate(200%, -100%);
    -webkit-transform: rotate(15deg) translate(200%, -100%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(200%, -100%);
    -o-transform: rotate(30deg) translate(200%, -100%);
    -ms-transform: rotate(30deg) translate(200%, -100%);
    -moz-transform: rotate(30deg) translate(200%, -100%);
    -webkit-transform: rotate(30deg) translate(200%, -100%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(200%, -100%);
    -o-transform: rotate(15deg) translate(200%, -100%);
    -ms-transform: rotate(15deg) translate(200%, -100%);
    -moz-transform: rotate(15deg) translate(200%, -100%);
    -webkit-transform: rotate(15deg) translate(200%, -100%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-23 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-23 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(0deg) translate(0%, -250%);
    -o-transform: rotate(0deg) translate(0%, -250%);
    -ms-transform: rotate(0deg) translate(0%, -250%);
    -moz-transform: rotate(0deg) translate(0%, -250%);
    -webkit-transform: rotate(0deg) translate(0%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-25 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-25 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-15deg) translate(-100%, -250%);
    -o-transform: rotate(-15deg) translate(-100%, -250%);
    -ms-transform: rotate(-15deg) translate(-100%, -250%);
    -moz-transform: rotate(-15deg) translate(-100%, -250%);
    -webkit-transform: rotate(-15deg) translate(-100%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-26 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-26 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  50% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(100%, -250%);
    -o-transform: rotate(15deg) translate(100%, -250%);
    -ms-transform: rotate(15deg) translate(100%, -250%);
    -moz-transform: rotate(15deg) translate(100%, -250%);
    -webkit-transform: rotate(15deg) translate(100%, -250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-27 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(-50%, 350%);-o-transform: rotate(15deg) translate(-50%, 350%);-ms-transform: rotate(15deg) translate(-50%, 350%);-moz-transform: rotate(15deg) translate(-50%, 350%);-webkit-transform: rotate(15deg) translate(-50%, 350%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(-50%, 350%);-o-transform: rotate(30deg) translate(-50%, 350%);-ms-transform: rotate(30deg) translate(-50%, 350%);-moz-transform: rotate(30deg) translate(-50%, 350%);-webkit-transform: rotate(30deg) translate(-50%, 350%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(-50%, 350%);-o-transform: rotate(15deg) translate(-50%, 350%);-ms-transform: rotate(15deg) translate(-50%, 350%);-moz-transform: rotate(15deg) translate(-50%, 350%);-webkit-transform: rotate(15deg) translate(-50%, 350%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-27 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(15deg) translate(-50%, 350%);-o-transform: rotate(15deg) translate(-50%, 350%);-ms-transform: rotate(15deg) translate(-50%, 350%);-moz-transform: rotate(15deg) translate(-50%, 350%);-webkit-transform: rotate(15deg) translate(-50%, 350%);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translate(-50%, 350%);-o-transform: rotate(30deg) translate(-50%, 350%);-ms-transform: rotate(30deg) translate(-50%, 350%);-moz-transform: rotate(30deg) translate(-50%, 350%);-webkit-transform: rotate(30deg) translate(-50%, 350%);
    opacity: 0;
  }
  75% {
    transform: rotate(15deg) translate(-50%, 350%);-o-transform: rotate(15deg) translate(-50%, 350%);-ms-transform: rotate(15deg) translate(-50%, 350%);-moz-transform: rotate(15deg) translate(-50%, 350%);-webkit-transform: rotate(15deg) translate(-50%, 350%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@-webkit-keyframes run-29 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@keyframes run-29 {
  0% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%);
    opacity: 1;
  }
  25% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  50% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  75% {
    transform: rotate(-45deg) translate(100%, 250%);-o-transform: rotate(-45deg) translate(100%, 250%);-ms-transform: rotate(-45deg) translate(100%, 250%);-moz-transform: rotate(-45deg) translate(100%, 250%);-webkit-transform: rotate(-45deg) translate(100%, 250%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0%);-o-transform: rotate(0deg) translate(0%);-ms-transform: rotate(0deg) translate(0%);-moz-transform: rotate(0deg) translate(0%);-webkit-transform: rotate(0deg) translate(0%); 
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
    .block-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .scene {
        overflow: visible;
        height: 100%;
    }
    .animation-icon {
        display: none;
    }
    .card {
        width: 273px;
        margin: 0 auto;
	right: 0;
    }
    .container {
        max-width: 100% !important;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .block-title {
        margin-left: 0;
        text-align: left;
    }
    .card {
        margin: 0 0 0 auto;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .card {
        margin: 0 0 0 auto;
    }
    .block-title {
        margin-left: 0;
        text-align: left;
    }
    .card_face {
        margin-bottom: 0;
    }
    .col-md-6 {
        height: 100vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .block-title {
        margin-left: 0;
        text-align: left;
    }
    .card_face {
        margin-bottom: 0;
    }
    .col-md-6 {
        height: 100vh;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .block-title {
        margin-top: 30px;
        position: static;
    }
    .card {
	position: relative;
	right: 0;
    }
    .card_face {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .col-md-6 {
        height: auto;
    }
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 250px) {
    .card {
        width: 220px;
    }
}
